# Entorno virtual
st_codo_codo/

# Archivos de configuración de entorno
*.env

# Archivos y directorios creados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos de cache de Python
__pycache__/
*.py[cod]

# Archivos de configuración de Jupyter
.ipynb_checkpoints

# Archivos de salida de compilación
build/
dist/
*.egg-info/

# Archivos de configuración de IDEs
.idea/
.vscode/
*.iml

# Streamlit
.streamlit/
